#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.allPosts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#postCard{
  display: flex;
  flex-direction: column;
  border: 5px teal solid;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  margin: 10px;
  padding:15px;
  min-height:100px;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden ;
  transition:min-height 2s, width 2s;
}
.permaCard li{
  text-align:left ;
}
.postCardTitle{
  cursor:pointer;
  width:auto;
}
.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.commentSection{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 25px;
}

.commentCard{
  width:300px;
  margin-top: 5px;
  text-align: left;
}

#postCard.permaCard{
  min-height: 300px;
  width: 900px;
  align-items: center;
  justify-self: center;
  justify-content: center;
}
.commentForm{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  text-align: left;
}
textarea{
  width: 250px;
  height: 100px;
}
.commentSubmit{
  width:200px;
  height:50px
}
li{
  list-style-type: none;
}

.registrationForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.editor{
  display: flex;
  align-items: center;
  justify-content: center;
}
#postCardEditor{
  display: flex;
  flex-direction: column;
  border: 5px teal solid;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  margin: 10px;
  padding:25px;
  min-height:100px;
  min-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden ;
  transition:min-height 2s, min-width 2s;
}

#editorTitle{
  cursor: pointer;
}

.editCard{
  height:50px;
  width:300px;
  transition: height 2s, width 2s;
}
.hoverEditCard{
  height:500px;
  width:700px;
  transition: height 2s, width 2s;
}
/* .stupidEditor{
  width:auto;
  height:auto;
  transition: width 2s, height 2s;
}
*/